body{
  margin: 0;
  padding: 0;
  color: #444;
  letter-spacing: 1px;
}
.wrapper{
    width: 95%;
    max-width: 1170px;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
    box-sizing: border-box;
    padding: 0 0 20px;
    overflow: hidden;
    border: 1px solid lightgray;
}
.page-banner{

    padding: 10px 0;
}
.page-banner h1{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
.page-banner input {
    width: 90%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #444;
}
.page-banner button {
    width: 90%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
    padding: 8px;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgb(143, 241, 238);
    color: black;
}
h1{
    width: 100%
    text-align: center;
    color: black;
    justify-content: center;
    font-weight: normal;
}

/*.search_query{
    margin: 0px auto;
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    background-color: #11113A;
    margin-bottom: 2px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;*/

}
.search-btn{
    color: white;
    width: 100px;
    height: 50px;
    text-decoration: none;
    margin: 100px auto;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
  }
  .all{
    display: flex;
  }
  .poster img{
    max-width: 300px;
    max-height: 450px;
  }

  .infofilm{

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
  }
/*h1{
  margin: 100px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;

}

.flex-container{
display: flex;
justify-content: flex-start;
}
.po{
  margin: auto;
  height: 500px;
  width:500px;
}
.ph{
  height: 300px;
  width:300px;
  margin: 20px;
}
.Poster{
  display:flex;
  flex-direction: column;
  align-items:flex-start;
  margin: 20px;
  width:50%;
}
.Information-Film{
  display: flex;
  flex-direction: column;
  width:50%;
  color: white;
}
.overview{
  display: flex;
 color: white;
 flex-direction: colh1{
  margin: 100px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;

}
.search_query{
  margin: 100px auto;
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    background-color: #11113A;
    margin-bottom: 2px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;

}
.search-btn{
background-color: #11113A;
    border: none;
    color: white;
    width: 100px;
    height: 50px;
    text-decoration: none;
    margin: 100px auto;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
  }
.flex-container{
display: flex;
justify-content: flex-start;
}
.po{
  margin: auto;
  height: 500px;
  width:500px;
}
.ph{
  height: 300px;
  width:300px;
  margin: 20px;
}
.Poster{
  display:flex;
  flex-direction: column;
  align-items:flex-start;
  margin: 20px;
  width:50%;
}
.Information-Film{
  display: flex;
  flex-direction: column;
  width:50%;
  color: white;
}
.overview{
  display: flex;
 color: white;
 flex-direction: column;
}
.cast{
color: white;
  display: flex;
 flex-direction: column;
}
.bottom{
  display: flex;
  flex-direction: row;
}
.photos{

  display: flex;
  justify-content: center;
}
.photos>div {

  margin:40px;;
}
umn;
}
.cast{
color: white;
  display: flex;
 flex-direction: column;
}
.bottom{
  display: flex;
  flex-direction: row;
}
.photos{

  display: flex;
  justify-content: center;
}
.photos>div {

  margin:40px;;
}*/
